@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  font-size: 0.9rem;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;

    & > li {
      margin-bottom: 0;

      & > a {
        background-color: transparent;
      }
    }
  }

  & > .overflow {
    & > li:last-of-type{
      margin-bottom: 0;
    }

    &:after {
      display: none;
    }
    height: auto;
  }
}
