@use "./base.scss";

// put your custom CSS here!
article > img + em{
    display: block;
    margin-top: -0.8em;
}

li:has(> * > span.custom-checkbox),
li:has(> span.custom-checkbox) {
  list-style-type: none;
  margin-left: -1.5rem;
}
